@model IEnumerable<CarShop.Models.Car>


@{
    ViewData["Title"] = "Home";
}

<div class="latestCars">
    <h2>Latest Super Cars</h2>
</div>
<div class="container">
    <div class=" car-list">
        @foreach (var item in Model)
        {
            <a asp-action="Details" asp-route-id="@item.Id">
                <div class="each-car">
                    <h3>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </h3>
                    <p>
                        @Html.DisplayFor(modelItem => item.Model)
                    </p>

                    <img src="@Url.Content(item.ImageUrl)" alt="url image" />
                    <p>

                        @Html.DisplayFor(modelItem => item.Price)
                    </p>
                </div>
            </a>
        }

    </div>
</div>


